Vamos a empezar a explorar las bases de datos

In [ ]:
pip install sqldf

In [ ]:
#import sqlite3
import sqldf
import pandas as pd
from pylab import*
import numpy as np
import scipy.stats 
from scipy.special import gamma
import seaborn as sns
from scipy.stats import beta
from scipy.stats import spearmanr
import pandas as pd

In [41]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_ini_externa.txt"
bd_ini_externa = pd.read_csv(bd, sep=" ")
bd_ini_externa.head()

    _id_  comp_externo1  comp_externo2  comp_externo3  comp_externo4
0  78213     260.869565      25.854639           56.0         -230.0
1  76457      40.579710       2.872738           62.0         -230.0
2  40666            NaN            NaN          119.0         -230.0
3   8329     349.275362      34.616490           94.0         -230.0
4  68389     276.811594      27.434645          125.0         -230.0

In [42]:
print(len(bd_ini_externa))

50000

In [27]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_ini_interna.csv"
bd_ini_interna = pd.read_csv(bd)
bd_ini_interna.head()

,_id_,fecha_inicio,comp_interno1,comp_interno2,comp_interno3,comp_interno4,categoria1,categoria2,categoria3
0,78213,2020-03-25,0.000000,b'0',11.0,58.0,2.0,9.0,156.0
1,76457,2020-02-13,0.000000,b'1',28.0,45.0,1.0,4.0,173.0
2,40666,2018-01-24,0.000000,b'1',25.0,45.0,1.0,9.0,170.0
3,8329,2016-10-07,0.000000,b'1',14.0,59.0,3.0,3.0,159.0
4,68389,2019-07-30,2026.342452,b'1',1.0,67.0,2.0,9.0,146.0

In [43]:
print(len(bd_ini_interna))

50000

In [28]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_ini_parte1.csv"
bd_ini_parte1 = pd.read_csv(bd)
bd_ini_parte1.head()

    _id_    _id2_  comp_mixto1
0  78213  1798899      0.33522
1  76457  1758511      0.33334
2  40666   935318      0.29186
3   8329   191567      0.29112
4  68389  1572947      0.27318

In [44]:
print(len(bd_ini_parte1))

50000

In [34]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_comportamiento_2.txt"
bd_comportamiento_2 = pd.read_csv(bd,sep=" ",low_memory=False)
bd_comportamiento_2.head()

   num_caso      mes_informacion  Tiempo_aparicion
0         1  2016-04-01 00:00:00               0.0
1         1  2016-05-01 00:00:00               1.0
2         1  2016-06-01 00:00:00               2.0
3         1  2016-07-01 00:00:00               3.0
4         1  2016-08-01 00:00:00               4.0

In [45]:
print(len(bd_comportamiento_2))

1455536

In [36]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_comportamiento_3.csv"
bd_comportamiento_3 = pd.read_csv(bd,low_memory=False)
bd_comportamiento_3.head()

   num_caso      mes_informacion  comportamiento_j
0         1  2016-04-01 00:00:00               0.0
1         1  2016-05-01 00:00:00               0.0
2         1  2016-06-01 00:00:00               0.0
3         1  2016-07-01 00:00:00               0.0
4         1  2016-08-01 00:00:00               0.0

In [46]:
print(len(bd_comportamiento_3))

1455536

In [37]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_inversion.txt"
bd_base_inversion= pd.read_csv(bd,sep=" ")
bd_base_inversion.head()

     _id2_  inversion
0  1758511   0.041039
1  1572947  77.422135
2  1051836  90.539953
3  1223255  90.205018
4  1894602   1.071354

In [47]:
print(len(bd_base_inversion))

17536

In [38]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_ini_parte1.csv"
bd_ini_parte1= pd.read_csv(bd)
bd_ini_parte1.head()

    _id_    _id2_  comp_mixto1
0  78213  1798899      0.33522
1  76457  1758511      0.33334
2  40666   935318      0.29186
3   8329   191567      0.29112
4  68389  1572947      0.27318

In [48]:
print(len(bd_ini_parte1))

50000