Vamos a empezar a explorar las bases de datos

In [10]:
from pylab import*
import numpy as np
import scipy.stats 
from scipy.special import gamma
import seaborn as sns
from scipy.stats import beta
from scipy.stats import spearmanr
import pandas as pd

In [12]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_ini_externa.txt"
bd_ini_externa = pd.read_csv(bd, sep=" ", header=None)
bd_ini_externa.head()

       0                   1                  2              3              4
0   _id_       comp_externo1      comp_externo2  comp_externo3  comp_externo4
1  78213   260.8695652173913  25.85463947141626           56.0         -230.0
2  76457   40.57971014492754  2.872737719046251           62.0         -230.0
3  40666                 NaN                NaN          119.0         -230.0
4   8329  349.27536231884056  34.61648951450733           94.0         -230.0

In [13]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_ini_interna.csv"
bd_ini_interna = pd.read_csv(bd,header=None)
bd_ini_interna.head()

,0,1,2,3,4,5,6,7,8
0,_id_,fecha_inicio,comp_interno1,comp_interno2,comp_interno3,comp_interno4,categoria1,categoria2,categoria3
1,78213,2020-03-25,0.0,b'0',11.0,58.0,2.0,9.0,156.0
2,76457,2020-02-13,0.0,b'1',28.0,45.0,1.0,4.0,173.0
3,40666,2018-01-24,0.0,b'1',25.0,45.0,1.0,9.0,170.0
4,8329,2016-10-07,0.0,b'1',14.0,59.0,3.0,3.0,159.0

In [14]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_ini_parte1.csv"
bd_ini_parte1 = pd.read_csv(bd,header=None)
bd_ini_parte1.head()

       0        1            2
0   _id_    _id2_  comp_mixto1
1  78213  1798899      0.33522
2  76457  1758511      0.33334
3  40666   935318      0.29186
4   8329   191567      0.29112

In [20]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_comportamiento_2.txt"
bd_comportamiento_2 = pd.read_csv(bd,sep=" ",header=None,low_memory=False)
bd_comportamiento_2.head()

          0                    1                 2
0  num_caso      mes_informacion  Tiempo_aparicion
1         1  2016-04-01 00:00:00               0.0
2         1  2016-05-01 00:00:00               1.0
3         1  2016-06-01 00:00:00               2.0
4         1  2016-07-01 00:00:00               3.0

In [19]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_comportamiento_3.csv"
bd_comportamiento_3 = pd.read_csv(bd,header=None,low_memory=False)
bd_comportamiento_3.head()

          0                    1                 2
0  num_caso      mes_informacion  comportamiento_j
1         1  2016-04-01 00:00:00               0.0
2         1  2016-05-01 00:00:00               0.0
3         1  2016-06-01 00:00:00               0.0
4         1  2016-07-01 00:00:00               0.0

In [22]:
direction= ruta="C:/Users/Brian Pérez/Documents/Septimo/Seminario_Est_rod/HomeWork1/HomeWork1_ML"
bd="base_inversion.txt"
bd_base_inversion= pd.read_csv(bd,sep=" ",header=None)
bd_base_inversion.head()

         0                    1
0    _id2_            inversion
1  1758511  0.04103850641773629
2  1572947    77.42213535589265
3  1051836    90.53995332555427
4  1223255    90.20501750291714